# 默认忽略的文件
/../../PythonBasic /.idea/shelf/
/../../PythonBasic /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../PythonBasic /.idea/httpRequests/
# Datasource local storage ignored files
/../../PythonBasic /.idea/dataSources/
/../../PythonBasic /.idea/dataSources.local.xml
